.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 7px;
  color: indigo;
  background-color: rgb(250, 125, 146);
}

.Weather .search {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.49);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  color: yellow;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: green;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
